<fieldset class="layui-elem-field device_inout_port">
    <legend>输入端口</legend>
    <div class="layui-field-box">
        <div class="layui-row layui-col-space8">
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">X00：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">X01：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">X02：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">X03：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">X04：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">X05：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">X06：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">X07：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="layui-elem-field device_inout_port">
    <legend>输出端口</legend>
    <div class="layui-field-box">
        <div class="layui-row layui-col-space8">
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">Y00：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">Y01：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">Y02：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">Y03：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">Y04：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">Y05：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">Y06：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">Y07：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">Y08：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">Y09：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">Y10：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">Y11：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">Y12：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">Y13：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">Y14：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
            <div class="layui-col-md1">
                <div class="layui-panel">
                    <div style="padding: 10px;">Y15：<span class="layui-badge-dot layui-bg-black"></span></div>
                </div>   
            </div>
        </div>
    </div>
</fieldset>
<!-- <hr class="layui-border-green"> -->
<button type="button" class="layui-btn layui-btn-disabled" style="margin-left:5px;">启动当前组</button>
<fieldset class="layui-elem-field">
    <legend>&nbsp;</legend>
    <div class="layui-field-box">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" style="width:45px;">程序：</label>
                    <div class="layui-input-inline">
                        <select>
                            <option value="0" selected>Z00-延时控制</option>
                            <option value="1">Z01-延时控制</option>
                            <option value="2">Z02-延时控制</option>
                            <option value="3">Z03-延时控制</option>
                            <option value="4">Z04-延时控制</option>
                            <option value="5">Z05-延时控制</option>
                            <option value="6">Z06-延时控制</option>
                            <option value="7">Z07-延时控制</option>
                            <option value="8">Z08-延时控制</option>
                            <option value="9">Z09-延时控制</option>
                            <option value="10">Z10-延时控制</option>
                            <option value="11">Z11-延时控制</option>
                            <option value="12">Z12-延时控制</option>
                            <option value="13">Z13-延时控制</option>
                            <option value="14">Z14-延时控制</option>
                            <option value="15">Z15-延时控制</option>
                            <option value="16">Z16-日历定时</option>
                            <option value="17">Z17-逻辑控制</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width:45px;">上电：</label>
                    <div class="layui-input-inline">
                        <select name="shangdian">
                            <option value="Z00" selected="">运行</option>
                            <option value="Z01">停止</option>
                            <option value="Z02">暂停</option>
                        </select>
                    </div>
                </div>
                
                <div class="layui-inline">
                    <label class="layui-form-label">状态：<strong>停止</strong></label>
                </div>
            </div>
        </form>
    </div>
</fieldset>